#circle {
	width: 80px;
	height: 80px;
	background: #b13070;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  margin: auto;
	margin-bottom: 20px;
}

.circ {
	width: 80px;
	height: 80px;
	background: #b13070;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  margin: auto;
	margin-bottom: 20px;
}

h4 {
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  padding-top: 30px;
}

.again {
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
  display: block;
}

a:visited {
  color: black;
}

/*Labyrinth Game*/
.row {
  height: 60px;
  display: block;
}

.field {
  width: 60px;
  height: 60px;
  border: solid 1px blue;
  display: inline-block;
}
/*End Labyrinth Game*/

.about {
	font-size: 1.2em;
	margin-top: 2em;
  color: #333;
  font-family: 'Slabo 27px', serif;
  line-height: 1.3em;
  text-rendering: optimizelegibility;
  text-decoration: none;
}
