/* .home {
  margin-top: 10vh;
} */

/*Changes text selection colour*/
/* ::selection {
  background: #12FFF7;
}
::-moz-selection {
  background: #12FFF7;
} */

/* #quote {
  color: black;
  font-size: 80px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-rendering: optimizelegibility;
  line-height: 1.2;
} */

/* .about {
  font-size: 1.4em;
  margin-top: 1em;
  color: #333;
  font-family: 'Slabo 27px', serif;
  line-height: 1.3em;
  text-rendering: optimizelegibility;
  text-decoration: none;
}

@media (max-width: 768px) {
  .about {
    font-size: 1.2em;
  }
}

.about a:hover {
  color: #12FFF7;
} */



.about h2 {
  margin-top: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  text-transform: uppercase;
}

.portrait {
  width: 150px;
}

@media (max-width: 768px) {
  .portrait {
    margin: 0 auto;
    display: block;
  }
}

.date {
  font-weight: bold;
}

nav {
  margin: 5vh 0;
}

.portfolio {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

.portfolio > * {
  padding-bottom: 1em;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
}

.images {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

@media (max-width: 1000px) {
  .portfolio {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }

  .images {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }

  #quote {
    font-size: 50px;
  }

  .home .menu a {
    border: 6px solid #000;
  }
}

@media (max-width: 768px) {
  .menu {
    text-align: center;
  }
  nav {
    margin: 2vh 0;
  }
}

@media (max-width: 371px) {
  .menu a {
    display: block;
  }
  .menu a + a {
    margin: 15px 0;
  }
}

.portfolio-img {
  margin-bottom: 20px;
}

.projects a {
  text-decoration: none;
  margin: auto;
  margin-top: 100px;
  display: block;
  text-align: center;
  font-size: 1.5em;
  color: black;
  font-family: sans-serif;
}

.projects a:hover {
  text-decoration: underline;
}
