.portfolio {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

.portfolio > * {
  padding-bottom: 1em;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
}

.images {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

@media (max-width: 1000px) {
  .portfolio {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }

  .images {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }

  #quote {
    font-size: 50px;
  }

  .home .menu a {
    border: 6px solid #000;
  }
}

@media (max-width: 768px) {
  .menu {
    text-align: center;
  }
  nav {
    margin: 2vh 0;
  }
}

@media (max-width: 371px) {
  .menu a {
    display: block;
  }
  .menu a + a {
    margin: 15px 0;
  }
}

.portfolio-img {
  margin-bottom: 20px;
}

.projects a {
  text-decoration: none;
  margin: auto;
  margin-top: 100px;
  display: block;
  text-align: center;
  font-size: 1.5em;
  color: black;
  font-family: sans-serif;
}

.projects a:hover {
  text-decoration: underline;
}
