.container {
  width: 50%;
  margin-left: 30vh;
  margin-top: 10vh;
}

.initial {
  height: 30vh;
}

.highlight {
  background: linear-gradient(-20deg, #B3FFAB 10%, #12FFF7 90%);
  display: inline;
}

h1 {
  color: black;
  font-size: 80px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-rendering: optimizelegibility;
  line-height: 1.2;
}

.menu {
  position: relative;
  margin-bottom: 100px;
  margin-top: 10px;
}

.menu a {
  color: #B3FFAB;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  border: 8px solid #B3FFAB;
  width: 80px;
  height: 36px;
  text-decoration: none;
  transition: color .3s, background-color .3s;
  text-rendering: optimizelegibility;
}

.menu a:hover {
  background-color: #B3FFAB;
  color: white;
}

.menu a + a {
  margin-left: 20px;
}

.about {
  color: black;
  font-size: 18px;
  font-family: 'Share Tech Mono', 'Arial', sans-serif;
  line-height: 1.3em;
  text-rendering: optimizelegibility;
  text-decoration: none;
}

.about:hover {
  background-color: #B3FFAB;
  color: black;
  text-decoration: none;
}

.about:visited {
  color: black;
  font-size: 18px;
  font-family: 'Share Tech Mono', 'Arial', sans-serif;
  line-height: 1.3em;
  text-rendering: optimizelegibility;
  text-decoration: none;
}

@media (max-width: 1000px) {
  .container {
    width: 80%;
  }

  h1 {
    font-size: 50px;
  }

  .menu {
    margin-top: 20px;
    margin-left: 5px;
  }

  .menu a {
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    border: 2px solid #cecece;
    width: 80px;
    height: 36px;
  }
  .menu a + a {
    margin-left: 10px;
  }
