h1 {
  color: #ff8383;
  font-size: 120px;
  font-family: 'Old Standard TT', serif;
  font-weight: 400;
  font-style: italic;
}

.menu a {
  color: #cecece;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #cecece;
  width: 80px;
  height: 36px;
  text-decoration: none;
}

.menu a + a {
  margin-left: 20px;
}

.container {
  width: 50%;
  margin: auto;
}

.menu {
  margin-top: 5px;
  margin-left: 20px;
}

.images img {
  width: 100%;
}

.initial {
  height: 100vh;
}

.anchor {
  padding-top: 150px;

}

.about {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3em;
}
