.initial {
  margin-top: 10vh;
}

.highlight {
  background: linear-gradient(-20deg, #B3FFAB 10%, #12FFF7 90%);
  display: inline;
}

#quote {
  color: black;
  font-size: 80px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-rendering: optimizelegibility;
  line-height: 1.2;
}

.initial .menu {
  position: relative;
  margin-bottom: 100px;
  margin-top: 10px;
}

.menu a {
  color: #000;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  border: 6px solid #000;
  min-width: 80px;
  text-decoration: none;
  transition: color .3s, background-color .3s;
  text-rendering: optimizelegibility;
}

.menu a:hover {
  background-color: #B3FFAB;
  color: black;
  text-decoration: none;
}

.menu a + a {
  margin-left: 20px;
}

.menu a li {
  padding: 0 10px;
}

.about {
  margin-top: 1em;
  color: black;
  font-family: 'Slabo 27px', serif;
  line-height: 1.3em;
  text-rendering: optimizelegibility;
  text-decoration: none;
}

.about a:hover {
  color: #12FFF7;
}

.profiles i {
  margin-top: 1em;
  color: black;
  letter-spacing: .3em;
  text-decoration: none;
  transition: color .2s;
}

.profiles i:hover {
  color: #12FFF7;
}

.profiles a:visited {
  color: black;
}

.about h2 {
  margin-top: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  text-transform: uppercase;
}

.portrait {
  width: 150px;
}

.date {
  font-weight: bold;
}

nav {
  margin: 5vh 0;
}

.portfolio {
	columns: 3;
	-webkit-columns: 3;
  -moz-columns: 3;
}

.portfolio > * {
  margin-bottom: 1em;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
}

.images {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

@media (max-width: 1000px) {
  .portfolio {
  	columns: 1;
  	-webkit-columns: 1;
  	-moz-columns: 1;
  }

  .images {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }

  #quote {
    font-size: 50px;
  }

  .menu a + a {
    margin-left: 10px;
  }

  .menu a {
    border: 0;
  }

  .initial .menu a {
    border: 6px solid #000;
  }
}

.portfolio-img {
  margin-bottom: 20px;
}

.contact {
  font-family: 'Slabo 27px', sans-serif;
  text-align: center;
  margin: 1em 0;
}

.contact a {
  color: #AAA;
}

.contact a:hover {
  color: #888;
  text-decoration: none;
}

.projects a {
  text-decoration: none;
  margin: auto;
  margin-top: 100px;
  display: block;
  text-align: center;
  font-size: 1.5em;
  color: black;
  font-family: sans-serif;
}

.projects a:hover {
  text-decoration: underline;
}
