.projects {
  a {
    text-decoration: none;
    margin: auto;
    margin-top: 100px;
    display: block;
    text-align: center;
    font-size: 1.5em;
    color: black;
    font-family: sans-serif;

    &:hover {
      text-decoration: underline;
    }
  }
}

#circle {
  width: 80px;
  height: 80px;
  background: #b13070;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: auto;
  margin-bottom: 20px;
}

.circ {
  width: 80px;
  height: 80px;
  background: #b13070;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: auto;
  margin-bottom: 20px;
}

h4 {
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  padding-top: 30px;
}

.again {
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
  display: block;
}

/*Labyrinth Game*/
.row {
  height: 60px;
  display: block;
}

.field {
  width: 60px;
  height: 60px;
  border: solid 1px blue;
  display: inline-block;
}
/*End Labyrinth Game*/

// Archive
.back-btn {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 1rem;

  a {
    text-decoration: none;

    i {
      transition: all .1s;
    }

    &:visited {
      color: #666;
    }
    &:hover {
      color: darken($main-color, 15%);
    }

    &:hover {
      i {
        margin-right: .3rem;
      }
    }
  }

  span {
    font-family: 'Arial', sans-serif;
    display: inline-block;
    color: #666;
  }
}
// End Archive
