html {
  font-size: 100%;
}

body {
  background-color: white;
  box-sizing: border-box;
}

section {
  padding: 1rem;
}

/*Changes text selection colour*/
::selection {
  background: $main-color;
}
::-moz-selection {
  background: $main-color;
}

.quote {
  padding: 0 1rem 4rem;
}

#quote {
  @include max-tablet {
    font-size: 4rem;
    line-height: 1.3;
  }
  @include max-mobile {
    font-size: 2.4rem;
  }

  color: black;
  font-size: 5rem;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-rendering: optimizelegibility;
  line-height: 1.2;
}

.reload-link {
  display: block;
  font-family: 'Arial';
  margin: 1rem 0;
  font-weight: 700;
  color: black;
  width: 10rem;

  &:visited {
    color: black;
  }
  &:hover {
    color: darken($secondary-color, 50%);
  }
}

nav {
  margin: 2rem 0;
}

.menu {
  position: relative;

  a {
    @include min-tablet {
      margin: 1rem;
    }
    @include max-tablet {
      margin: .5rem .5rem;
    }

    color: black;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    border: 6px solid black;
    min-width: 80px;
    text-decoration: none;
    transition: color .3s, background-color .3s;
    text-rendering: optimizelegibility;

    &:hover {
      background-color: $secondary-color;
      color: black;
      text-decoration: none;
    }

    & li {
      padding: 0 10px;
    }
  }
}

footer {
  text-align: center;
  margin: 3rem auto 1rem;
}

.main-container {
  margin: 0 auto;

  @include max-mobile {
    width: 100%;
  }
  @include min-tablet {
    width: 100%;
  }
  @include min-tablet-landscape {
    width: 850px;
  }
  @include min-desktop {
    width: 1100px;
  }
  @include min-desktop-lg {
    width: 1100px;
  }
}

// Portfolio
.portfolio {
  @include max-tablet {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }

  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;

  & > * {
    padding-bottom: 1em;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
  }
}

.images {
  @include max-mobile {
    .portfolio-img {
      margin-bottom: 20px;
    }
  }

  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
  width: 80%;
  margin: auto;
}

@media (max-width: 768px) {
  #quote {
    font-size: 50px;
  }

  .home .menu a {
    border: 6px solid black;
  }

  .menu {
    text-align: center;
  }
  nav {
    margin: 2vh 0;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.images {
  .img-responsive {
    margin-bottom: 4rem;
  }
}

.highlight {
  background: linear-gradient(-20deg, $secondary-color 10%, $main-color 90%);
  display: inline;
}

.caption {
  font-size: 1.2em;
  color: $text-color;
  font-family: 'Arial', sans-serif;
  line-height: 1.3rem;
  text-rendering: optimizelegibility;
  text-decoration: none;
  margin: 1rem;
}
// End Portfolio

// Contact copy
.copy-contact {
  p, a {
    font-family: 'Arial', sans-serif;
    display: inline-block;
  }

  #copy-mail-tooltip,
  #copy-tel-tooltip {
    display: none;
    position: absolute;
    background: black;
    color: white;
    padding: .6rem 1rem;
    font-size: .9rem;
    margin-top: -2.8rem;
    margin-left: .5rem;
    width: 50px;

    &::after {
      content: '';
      position: absolute;
      left: 0%;
      top: 100%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 0px 0px;
      border-color: black transparent transparent transparent;
    }
  }
}

.fa-clipboard {
  vertical-align: middle;
  padding: .2rem .5rem;
  cursor: pointer;

  &:hover {
    color: darken($main-color, 15%);
  }
}
// End Contact copy

// About page
.columns {
  @include max-tablet-landscape {
    padding: 1rem 2rem 2rem;
  }
  @include max-tablet {
    justify-content: center;
    padding: 1rem 1rem 2rem;
  }
  display: flex;
  flex-flow: wrap row;

  .about {
    @include max-tablet-landscape {
      width: 45%;
      padding: 1rem;
    }
    @include max-mobile {
      width: 100%;
    }
    @include max-mobile {
      text-align: center;
    }
    
    &:nth-child(1) {
      @include max-tablet-landscape {
        width: 45%;
      }
      @include max-mobile {
        width: 100%;
      }

      width: 25%;
    }

    &:nth-child(3) {
      @include max-tablet-landscape {
        width: 45%;
      }
      @include max-mobile {
        width: 100%;
      }

      width: 16%;
    }

    width: 21%;
  }
}

.portrait {
  @include max-mobile {
    margin: 0 auto;
    display: block;
  }

  width: 150px;
  border-radius: 75px;
  display: inline-block;
  align-self: center;
}

.about-bio {
  @include max-mobile {
    flex-direction: column;
  }

  display: flex;
}

.bio {
  display: inline-block;

  p {
    margin: 1rem 0 1rem 1rem;
  }
}

.contact-title {
  color: darken($main-color, 15%);
}

.about {
  font-size: 1.2em;
  color: $text-color;
  font-family: 'Arial', serif;
  line-height: 1.7rem;
  text-rendering: optimizelegibility;
  text-decoration: none;

  a {
    text-decoration: none;
    color: darken($main-color, 15%);

    &:hover {
      text-decoration: underline;
    }
  }

  h2 {
    margin: 1.5rem 0 .5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}

.profiles {
  @include max-mobile {
  text-align: center;
}

margin-top: 1rem;

  a {
    text-decoration: none;

    &:visited {
      color: black;
    }
    &:hover {
      text-decoration: none;
    }

    i {
      @include max-mobile {
        letter-spacing: .6rem;
      }

      letter-spacing: .3rem;
      transition: color .2s;
      color: black;

      &:hover {
        color: darken($main-color, 15%);
      }
    }

    .fa {
      font-size: 1.6rem;
    }
  }
}

.socicon-keybase {
  font-size: 2rem;
  vertical-align: middle;
}

.date {
  font-weight: bold;
}

// Private pages
.projects {
  a {
    text-decoration: none;
    margin: auto;
    margin-top: 100px;
    display: block;
    text-align: center;
    font-size: 1.5em;
    color: black;
    font-family: sans-serif;

    &:hover {
      text-decoration: underline;
    }
  }
}

#circle {
  width: 80px;
  height: 80px;
  background: #b13070;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: auto;
  margin-bottom: 20px;
}

.circ {
  width: 80px;
  height: 80px;
  background: #b13070;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: auto;
  margin-bottom: 20px;
}

h4 {
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  padding-top: 30px;
}

.again {
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
  display: block;
}

/*Labyrinth Game*/
.row {
  height: 60px;
  display: block;
}

.field {
  width: 60px;
  height: 60px;
  border: solid 1px blue;
  display: inline-block;
}
/*End Labyrinth Game*/
