html {
  font-size: 100%;
}

body {
  background-color: white;
  box-sizing: border-box;
}

section {
  padding: 1rem;
}

/*Changes text selection colour*/
::selection {
  background: #12FFF7;
}
::-moz-selection {
  background: #12FFF7;
}

.quote {
  padding: 0 1rem 4rem;
}

#quote {
  @include max-tablet {
    font-size: 4rem;
    line-height: 1.3;
  }
  @include max-mobile {
    font-size: 2.4rem;
  }

  color: black;
  font-size: 5rem;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-rendering: optimizelegibility;
  line-height: 1.2;
}

nav {
  margin: 2rem 0;
}

.menu {
  position: relative;

  a {
    @include min-tablet {
      margin: 1rem;
    }
    @include max-mobile {
      display: block;
      margin: 1rem;
    }

    color: black;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    border: 6px solid black;
    min-width: 80px;
    text-decoration: none;
    transition: color .3s, background-color .3s;
    text-rendering: optimizelegibility;

    &:hover {
      background-color: $secondary-color;
      color: black;
      text-decoration: none;
    }

    & + a {
      @include min-tablet {
        margin: 1rem;
      }
      @include max-mobile {
        margin: 1rem;
      }

      margin-left: 2rem;
    }

    & li {
      padding: 0 10px;
    }
  }
}

footer {
  text-align: center;
  margin: 3rem auto 1rem;
}

.main-container {
  margin: 0 auto;

  @include max-mobile {
    width: 100%;
  }
  @include min-tablet {
    width: 100%;
  }
  @include min-tablet-landscape {
    width: 850px;
  }
  @include min-desktop {
    width: 1100px;
  }
  @include min-desktop-lg {
    width: 1100px;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.images {
  .img-responsive {
    margin-bottom: 1rem;
  }
}

.highlight {
  background: linear-gradient(-20deg, #B3FFAB 10%, #12FFF7 90%);
  display: inline;
}

.caption {
  font-size: 1.2em;
  color: $text-color;
  font-family: 'Slabo 27px', serif;
  line-height: 1.3rem;
  text-rendering: optimizelegibility;
  text-decoration: none;
  margin: 1rem 0;
}

// Contact copy
.copy-contact {
  p, a {
    font-family: 'Slabo 27px', sans-serif;
    display: inline-block;
  }

  #copy-mail-tooltip,
  #copy-tel-tooltip {
    display: none;
    position: absolute;
    background: black;
    color: white;
    padding: .6rem 1rem;
    font-size: .9rem;
    margin-top: -2.8rem;
    margin-left: .5rem;
    width: 50px;

    &::after {
      content: '';
      position: absolute;
      left: 0%;
      top: 100%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 0px 0px;
      border-color: black transparent transparent transparent;
    }
  }
}

.fa-clipboard {
  vertical-align: middle;
  padding: .5rem;
  cursor: pointer;

  &:hover {
    color: $main-color;
  }
}
// End Contact copy

// About page
.about-bio {
  display: flex;
}

.bio {
  display: inline-block;

  p {
    margin: 1rem 0 1rem 1rem;
  }
}

.about {
  font-size: 1.2em;
  color: $text-color;
  font-family: 'Slabo 27px', serif;
  line-height: 1.3rem;
  text-rendering: optimizelegibility;
  text-decoration: none;

  a {
    text-decoration: none;

    &:visited {
      color: #0000f1;
    }
    &:hover {
      color: #12FFF7;
    }
  }

  h2 {
    margin-top: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}

.portrait {
  @include max-mobile {
    margin: 0 auto;
    display: block;
  }

  width: 150px;
  border-radius: 75px;
  display: inline-block;
  align-self: center;
}


.profiles {
  @include max-mobile {
    text-align: center;
  }

  a {
    text-decoration: none;

    &:visited {
      color: black;
    }
    &:hover {
      text-decoration: none;
    }

    i {
      @include max-mobile {
        letter-spacing: .6rem;
      }

      margin-top: 1rem;
      letter-spacing: .3rem;
      transition: color .2s;
      color: black;

      &:hover {
        color: #12FFF7;
      }
    }
  }
}

.socicon-keybase {
  font-size: 2rem;
  vertical-align: middle;
}

.date {
  font-weight: bold;
}
