$main-color: #12FFF7;
$secondary-color: #B3FFAB;
$text-color: #333333;

// Responsive breakpoints
@mixin max-mobile {
  @media (max-width: 480px) { @content; }
}
@mixin max-tablet {
  @media (max-width: 768px) { @content; }
}
@mixin min-tablet {
  @media (min-width: 769px) { @content; }
}
@mixin min-tablet-landscape {
  @media (min-width: 900px) { @content; }
}
@mixin min-desktop {
  @media (min-width: 1200px) { @content; }
}
@mixin min-desktop-lg {
  @media (min-width: 1800px) { @content; }
}
