---
layout: base
---
<h2 class="about">{{ page.title }} ({{ page.year }})</h2>

<section class="about">{{ content }}</section>
<section class="images">
  {% for image in page.images %}
  <a href="{{ image }}"><img class="img-responsive portfolio-img" src="{{ image }}" alt=""></a>
  {% endfor %}
</section>
<footer>
  <div class="copy-contact">
    <p id="copy-mail">hello@trixi.graphics</p>
    <i class="fa fa-clipboard" aria-hidden="true" onclick="copyToClipboard('#copy-mail')"></i>
  </div>
</footer>
